<html>
    <head>
        <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' https://luca-ucsc-teaching-backend.appspot.com 'unsafe-inline'; script-src 'self' https://luca-ucsc-teaching-backend.appspot.com 'unsafe-inline' 'unsafe-eval';">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link href="css/myapp.css" rel="stylesheet" type="text/css" />
        <link href="css/stupid.css" rel="stylesheet" type="text/css"/>
        <link href="font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <title>BattleShip</title>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/vue.js"></script>
        <script type="text/javascript" src="js/randomString.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/a.js"></script>

    </head>
    <body>
        <h4 class="colortext">BattleShip</h4>
        <div id="vue-div" class="app" style="display:none">
            <div class="colortext top_input centered">
                <b class="colortext">For Magic Word: type Battleship first then something after.</b>
                </br>
                <i class="colortext">EX: Battleship111</i>
                <input v-model="magic_word" placeholder="shared magic word" />
                <button v-on:click="set_magic_word">Play</button>
                <button v-on:click="new_game">New Game</button>
                <i v-if="need_new_magic_word" class="fa fa-warning"></i>
            </div>
            <div class="colortext centered">
                <div class="status_line">
                    <b>${win_line}</b> ${status_line}
                </div>
                <div class="colortext centered">
                    <b v-if="!is_my_turn">not</b> your turn.
                </div>
            </div>
            <div class="board container centered">
                <table>
                    <tr v-for="i in [0, 1, 2, 3, 4, 5, 6, 7]">
                        <td v-on:click="play(i,j)" 
                            v-for="j in [0, 1, 2, 3, 4, 5, 6, 7]"
                            v-bind:class="{ red: opponent_board()[i*8+j] === 'h' }">
                            <template v-if="opponent_board()[i*8+j] === 'w'">
                                <i class="fa fa-circle" style="color:blue"></i>
                            </template>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="board container centered">
                <table>
                    <tr v-for="i in [0, 1, 2, 3, 4, 5, 6, 7]">
                        <td v-for="j in [0, 1, 2, 3, 4, 5, 6, 7]"
                            v-bind:class="{ red: my_board()[8*i+j] === 'h',
                                orange: typeof(my_board()[8*i+j]) === 'number', 
                                blue: my_board()[8*i+j] === 'w'}">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    <script type="text/javascript" src="cordova.js"></script>
    </body>
</html>
